<section id="top_banner">
    <div class="banner">
        <div class="inner text-center">
            <h2>Front-End Development Services</h2>
        </div>
    </div>
    <div class="page_info">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-6">

                </div>
                <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Hire Developers<span class="sep"> /
                    </span><span class="current">Front-End</span></div>
            </div>
        </div>
    </div>

</section>


<section id="about-page-section-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                <div class="section-heading">
                    <h2>Hire 
                       <span> Front-End Developers</span></h2>
                    <p class="subheading"></p>
                </div>
                <p>We help you maximize user experience through responsive, user-friendly and interactive Front-end designs. Hire Front-end Developers on hourly or full time (dedicated monthly) basis from Greatwits and meet varying user demands.
                     <br/><br/>
                   
                </p>
                <a href="contact.html"><button class="btn btn-primary slide">Contact US<i class="fa fa-caret-right" style="margin-left: 4px"></i>
                </button></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                <img height="" width="auto" src="../img/hire-frontend-developers.png" class="attachment-full img-responsive" alt="">
            </div>
        </div>
    </div>
</section>


<section id="features">
        <div class="container">
                <div class="section-heading text-center">
                        <div class="col-md-12 col-xs-12">
                            <h1>  Front-End Development Services</h1>
                            <p class="subheading">Since the inception, our dedicated Ionic developers have helped different type and size of businesses by developing user friendly and engaging mobile apps and the professionals can do the same for you as well.</p>
                        </div>
                    </div>
            <div class="row">
                <div class="col-md-4 col-xs-12 block">
                    <div class="col-md-2 col-xs-2"><i class="fa fa-laptop feature_icon"></i></div>
                    <div class="col-md-10 col-xs-10">
                        <h4>Reactjs Development</h4>
                        <p>With the help of front-end team, we build your web apps with React js and make it better for running across multiple platforms and devices.
                        </p>
                        
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 block">
                    <div class="col-md-2 col-xs-2"><i class="fa fa-adn feature_icon"></i></div>
                    <div class="col-md-10 col-xs-10">
                        <h4>Angular JS Development</h4>
                        <p>Our programmers are adept at building amazing, user-friendly & interactive Web apps with Angular for small to large scale businesses.</p>
                        
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 block">
                    <div class="col-md-2 col-xs-2"><i class="fa fa-code feature_icon"></i></div>
                    <div class="col-md-10 col-xs-10">
                        <h4>HTML5/HTML Development</h4>
                        <p>Hire front-end developers who are experienced in HTML5/HTML Development that’s cost effective, scalable, and run seamlessly across devices.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

