    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index-2.html">
                            <h1>Greatwits</h1><span>Services Pvt Ltd</span>
                        </a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                            <ul class="nav navbar-nav" id="nav-bar">
                                <li class="active menu"><a href="index-2.html">Home</a></li>
                                    <li class="menu"><a href="view/services.html">Services</a>
                                    <ul class="menu-dropdown">
                                       <span style = "display:flex">
                                         <span class="span01">
                                        <li class = ""><a href="view/web-application-development.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Web App Development</a></li>
                                        <li><a href="view/mobile-application-development.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Mobile App Development</a></li>
                                        <li><a href="view/outsource-software-product-development.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Software Product Development</a></li>
                                       </span>
                                       <span class="span02">
                                        <li class = ""><a href="view/cross-platform-app.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cross-Platform Development</a></li>
                                        <li><a href="view/devops-development.html"><i class="fa fa-angle-right" aria-hidden="true"></i>DevOps Engineering</a></li>
                                        <li><a href="view/it-strategy-consulting-firms.html"><i class="fa fa-angle-right" aria-hidden="true"></i>IT Strategy & Consulting</a></li>
                                    </span>
                                    </span>
                                    </ul>
                                </li>
                                <li class="menu"><a href="#">Hire developers</a>
                                    <ul class="menu-dropdown">
                                        <span style = "display:flex">
                                         <span class="span01">
                                         <li id="dropdown-list-heading">Mobility</li>
                                         <li class = ""><a href="view/hire-ios-developers.html"><i class="fa fa-angle-right" aria-hidden="true"></i>iOS</a></li>
                                         <li><a href="view/hire-android-developers.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Android</a></li>
                                         <li><a href="view/hire-react-native-developers.html"><i class="fa fa-angle-right" aria-hidden="true"></i>React Native</a></li>
                                         <li><a href="view/hire-ionic-developers.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Ionic</a></li>
                                        </span>
                                        <span class="span02">
                                         <li id="dropdown-list-heading">Web & Full Stack</li>
                                         <li class = ""><a href="view/hire-reactjs-developers.html"><i class="fa fa-angle-right" aria-hidden="true"></i>ReactJS</a></li>
                                         <li><a href="view/hire-angularjs-developers.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Angular</a></li>
                                         <li><a href="view/hire-mern-stack-developers.html"><i class="fa fa-angle-right" aria-hidden="true"></i>MERN Stack</a></li>
                                         <li><a href="view/hire-mean-stack-developers.html"><i class="fa fa-angle-right" aria-hidden="true"></i>MEAN Stack</a></li>
                                        </span>
                                        <span class="span03">
                                                <li id="dropdown-list-subHeading"></li>
                                                <li class = ""><a href="view/hire-nodejs-developers.html"><i class="fa fa-angle-right" aria-hidden="true"></i>NodeJS</a></li>
                                                <li><a href="view/hire-vuejs-developers.html"><i class="fa fa-angle-right" aria-hidden="true"></i>VueJS</a></li>
                                                <li><a href="view/hire-front-end-developers.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Front-End</a></li>
                                                <li><a href="view/hire-devops-developers.html"><i class="fa fa-angle-right" aria-hidden="true"></i>DevOps</a></li>
                                               </span>
                                     </span>
                                     </ul>
                                </li>
                                <li class="menu"><a href="#">Industries</a>
                                    <ul class="menu-dropdown">
                                            <span style = "display:flex">
                                                    <span class="span01">
                                                    <li><a href="view/banking-financial-services.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Banking & Finance</a></li>
                                                    <li class="menu" [routerLink]="['/automotive-software-development']" ><i class="fa fa-angle-right" aria-hidden="true"></i>Automotive</li>
                                                    <li><a href="view/logistics-transportation-software-development.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Logistics & Transportaion</a></li>
                                                   </span>
                                                   <span class="span02">
                                                    <li><a href="view/retail-ecommerce-software-development.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Retail & eCommerce</a></li>
                                                    <li><a href="view/education-elearning-software-development.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Education & E-Learning</a></li>
                                                    <li><a href="view/media-software-development.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Media & Entertainment</a></li>
                                                   </span>
                                                </span>
                                     </ul></li>
                                <li class="menu" [routerLink]="['/about']" >About</li>
                                <li class="menu">Portfolio</li>
                                <li class="menu">Contact</li>
                            </ul>
                        </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </nav>
    </header>