 <section id="top_banner">
        <div class="banner">
            <div class="inner text-center">
                <h2>DevOps Engineers </h2>
            </div>
        </div>
        <div class="page_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">

                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Hire Developers<span class="sep"> /
                        </span><span class="current">DevOps Engineers</span></div>
                </div>
            </div>
        </div>

    </section>


    <section id="about-page-section-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="section-heading">
                        <h2>Hire    
                           <span> DevOps Engineers</span></h2>
                        <p class="subheading"></p>
                    </div>
                    <p>Hire DevOps engineers from us on hourly or full time (dedicated monthly) basis and save up to 60% of your development cost. Our offshore DevOps engineers automate software delivery processes by connecting development & IT teams and ensure the scalability & security from large enterprises to startups infrastructures.
                        <br/><br/>
                       
                    </p>
                    <a href="contact.html"><button class="btn btn-primary slide">Contact US<i class="fa fa-caret-right" style="margin-left: 4px"></i>
                    </button></a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                    <img height="" width="auto" src="../img/640px-Devops-toolchain.svg.png" class="attachment-full img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>


    <section id="features">
            <div class="container">
                    <div class="section-heading text-center">
                            <div class="col-md-12 col-xs-12">
                                <h1> Our DevOps Development Solutions</h1>
                                <p class="subheading">Since the inception, our AWS certified DevOps engineers have helped different type and size of businesses by developing user friendly and engaging apps and these professionals can do the same for you as well.</p>
                            </div>
                        </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12 block">
                        <div class="col-md-2 col-xs-2"><i class="fa fa-laptop feature_icon"></i></div>
                        <div class="col-md-10 col-xs-10">
                            <h4>DevOps Consulting</h4>
                            <p>Leverage our DevOps consulting services to accelerate speed-to-market. Our expertise covers containerization, server orchestration, server support, server security and Virtualization.
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 block">
                        <div class="col-md-2 col-xs-2"><i class="fa fa-mobile fa-2x feature_icon"></i></div>
                        <div class="col-md-10 col-xs-10">
                            <h4>DevOps Configuration</h4>
                            <p>Avail an extensive arrangement of tools for faster issue determination and increased agility to leverage supreme quality of services. We have expertise to manage your lean operations through our DevOps configuration management.</p>
                            
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 block">
                        <div class="col-md-2 col-xs-2"><i class="fa fa-users feature_icon"></i></div>
                        <div class="col-md-10 col-xs-10">
                            <h4>DevOps Management</h4>
                            <p>We assist your core team in ensuring a full- fledged integrated functioning of the delivery pipeline automation cycle and in adapting your automated deployment cycle to changes.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    


